nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Book Store
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  